body{
    background: linear-gradient(to right, #4a73c2,#752fac) ;
}
/*sidebar*/
.close-symbol{
    margin-top:10px;
    margin-right: 90px;
    font-size: xx-large;
    font-weight: 10;
    color:#edeadc;
    margin-left: 20px;
}
/*remove the default underline when using <a>*/
.close-button{
    text-decoration: none;
}
.close-button:hover .close-symbol{
    animation:shining 1s infinite;
}
/*
* make close sign/symbol shining when hovering over 
*/
@keyframes shining{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
/*nav content*/
.container{
    display:flex;
    align-items: center;
    height: 100vh;
}
.report,.compatibility,.explore{
    margin:10; 
    font-size: 80px;
    color:#edeadc;
    text-align: left;
    font-family: "Inter",sans-serif;
}
.checker{
    display:flex;
    align-items: baseline; 
}
/* zodiak */
.subheading{
    margin-left:1000px; 
    font-family: "Lora",serif;
    font-style: italic;  
    position:relative;
    font-size: xx-large;
    color:#edeadc;
    position: relative;

}
.option{
    text-decoration: none;
}
/* highlight new daily report*/
.highlight{
    color:#FEBD38;
}
.explore:hover,
.report:hover,
.compatibility:hover{
    /*color:#FEBD38;*/
    animation:glowing 1s infinite;
}
/*
* make text glowing when hovering over
*/
@keyframes glowing {
    0% {
        color: #EDEADC;
        text-shadow: 0 0 5px #EDEADC, 0 0 10px #EDEADC, 0 0 20px #EDEADC;
    }
    50% {
        color: #752fac;
        text-shadow: 0 0 5px #752fac, 0 0 10px #752fac, 0 0 20px #752fac;
    }
    100% {
        color: #EDEADC;
        text-shadow: 0 0 5px #EDEADC, 0 0 10px #EDEADC, 0 0 20px #EDEADC;
    }
}

/* media queries */
@media screen and (min-width:350px){
    .report,.compatibility,.explore{
        margin:0;
        font-size: 50px;
    }
    .close-symbol{
        margin-right: 10px;
    }
    .subheading{
        margin-left:20px;
        font-size: medium;
    }

}
@media screen and (min-width:1000px)  {
    .report,.compatibility,.explore{
        margin:10;
        font-size: 80px;
    }
    .close-symbol{
        margin-right: 90px;
    }
    .subheading{
        margin-left: 300px;
        font-size: xx-large;
    } 
}
