:root {
    --main-dark-color: #282525;
    --main-light-color: #EDEADC;
}

body {
    margin: 0;
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, linear-gradient(to right, #4a73c2,#752fac), transparent 0);
    background-size: 200% 100%;
    background-position: right;
}

.navMenuButton {
    margin: 2vw;
    align-self: center;
    color: var(--main-light-color);
}

/*sidebar*/
.close-symbol {
    font-size: xx-large;
    font-weight: 10;
    color: #edeadc;
    margin-left: 20px;
}

/*remove the default underline when using <a>*/
.close-button {
    text-decoration: none;
}

.nav-content {
    padding-left: 10vw;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.report, .compatibility, .explore {
    margin: 10px; 
    font-size: 80px;
    color: #edeadc;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.checker {
    display: flex;
    align-items: baseline; 
}

/* zodiak */
.subheading { 
    font-family: "Lora",serif;
    font-style: italic;  
    position:relative;
    font-size: xx-large;
    color:#edeadc;
    position: relative;
}

.option {
    text-decoration: none;
}

/* highlight new daily report*/
.highlight {
    color:#FEBD38;
}

/* media queries */
@media screen and (min-width:350px){
    .report,.compatibility,.explore{
        margin:0;
        font-size: 50px;
    }
    .close-symbol{
        margin-right: 10px;
    }
    .subheading{
        margin-left:20px;
        font-size: medium;
    }

}
@media screen and (min-width:1000px)  {
    .report,.compatibility,.explore{
        margin:10;
        font-size: 80px;
    }
    .close-symbol{
        margin-right: 90px;
    }
    .subheading{
        margin-left: 300px;
        font-size: xx-large;
    } 
}

.navHide {
    visibility: hidden;
}

.navShow {
    background-position: left;
    visibility: visible;
}

.site-contents {
    display: flex;
    flex-direction: column;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-dark-color);
    height: 100vh;
}

.title-content {
    margin: auto;
    display: flex;
    flex-direction: row;
}

#title-text {
    font: 96px 'Lora', serif;
    align-self: center;
    color: var(--main-light-color);
}

#title-logo {
    height: 200px;
    width: 200px;
    padding-left: 40px;
    align-self: center;
}

.text-box {
    display: flex;
    justify-content: center;
    background-color: #282525;
    padding: 15px;
}

.text-box>p {
    color: white;
    font: 20px 'Roboto-monospace', monospace;
}

.bolded {
    font-weight: bold;
}

.box {
    border: 1px solid black;
}

.flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
  
.button {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: black;
    border: 2px solid #8c67b1;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #8c67b1;
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #8c67b1;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: 'Roboto-monospace', monospace;
}
