body {
    background-color: #282525; /* Replace with your specific background color */
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: #282525; /* Replace with your desired menu bar color */
    color: #EDEADC;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#content {
    margin-left: 200px; /* Adjust this value to leave space for the menu bar */
    padding: 20px;
}

h1 {
    text-align: center;
    color: #EDEADC;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}