body, html {
  margin: 0;
  padding: 0;
  background-image: url(dream_anime.jpg); /* replace 'background-image.jpg' with the path to your image file */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 80%; /* Set the value to 'center bottom' */
  color: #FFD700;
  font-family: 'Orbitron', sans-serif;
}

/* Container for the form and answer */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title styles */
.title {
  font-size: 48px;
  color: #FFD700;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

/* Form styles */
.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Label styles */
label {
  color: #FFD700;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Input styles */
.question-input, .answer-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #FFD700;
  color: #FFD700;
}

/* Submit button styles */
.submit-btn {
  padding: 10px 20px;
  color: #000;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Answer styles */
.answer {
  margin-top: 110px; /* Update the value to your desired margin */
  font-size: 24px;
  color: #FFD700;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

/* Additional Cyberpunk and Ninja Theme Styles */
.container {
  
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
}

.title {
  font-family: 'Orbitron', sans-serif;
}

.question-form {
  width: 100%;
}

.question-input, .answer-input {
  
  border-bottom: 2px solid #FFD700;
  color: #FFD700;
}

.submit-btn {
 
  color: #000;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  
  color: #000;
}

.answer {
  font-size: 24px;
  color: #FFD700;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
